// keyframe to arrows

@keyframes OutsideMoveLeft {
    12.5%{
        left: 1.8em;
    }
    25% {
        left: 1.6em; 
    }
    37.5% {
        left: 1.8em;
    }
    50% {
        left: 2em;
    }
    62.5% {
        left: 2.2em;
    }
    75% {
        left: 2.4em;
    }
    87.5% {
        left: 2.2em;
    }
    100% {
        left: 2em;
    }
}


@keyframes OutsideMoveRight {
    12.5%{
        right: 1.8em;
    }
    25% {
        right: 1.6em; 
    }
    37.5% {
        right: 1.8em;
    }
    50% {
        right: 2em;
    }
    62.5% {
        right: 2.2em;
    }
    75% {
        right: 2.4em;
    }
    87.5% {
        right: 2.2em;
    }
    100% {
        right: 2em;
    }
}


@keyframes OutsideMoveRight {
    12.5%{
        right: 1.8em;
    }
    25% {
        right: 1.6em; 
    }
    37.5% {
        right: 1.8em;
    }
    50% {
        right: 2em;
    }
    62.5% {
        right: 2.2em;
    }
    75% {
        right: 2.4em;
    }
    87.5% {
        right: 2.2em;
    }
    100% {
        right: 2em;
    }
}