.modal-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}

.modal {
    position: relative;
    width: 95%;
    max-width: 420px;
    min-height: 415px;
    margin: 10px auto auto;
    padding-bottom: 15px;
    background: rgba(255, 255, 255, 1);
    border-radius: 0.25em;
    border: 1px solid rgba(100, 100, 100, 0.3);
    transition: .4s ease-out;

    // button
    &-close-btn {
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.9);
        background: rgba(0, 0, 0, 0.8);
        outline: none;
        border-radius: 0.25em;
        border: 1px solid rgba(50, 50, 50, 0.3);
    }

    // image 
    &-img {
        width: 150px;
        margin-top: 35px;
        border-radius: 50%;
    }

    &-name {
        margin-bottom: 5px;
    }
    
    &-text {
        color: rgba(50, 50, 50, 0.7);
        margin: 10px;
    }
    
    hr {
        width: 75%;
        margin: 25px auto 30px;
        border-color: rgba(200, 200, 200, 0.2);
    }
    
}


// arrow


#outsideArrowL, #outsideArrowR,
#insideArrowL, #insideArrowR{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 80px;
    height: 60px;
    cursor: pointer;
}

.leftArrow, .rightArrow {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    height: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
}

#outsideArrowL .leftArrow,
#outsideArrowR .rightArrow,
#outsideArrowR .rightArrow::after,
#outsideArrowR .rightArrow::before,
#outsideArrowL .leftArrow::after,
#outsideArrowL .leftArrow::before {
    background-color: #fff;
}

#insideArrowL .leftArrow, 
#insideArrowR .rightArrow,
#insideArrowR .rightArrow::after,
#insideArrowR .rightArrow::before,
#insideArrowL .leftArrow::after,
#insideArrowL .leftArrow::before {
    background-color: rgb(194, 181, 181);
}

.rightArrow::after, .rightArrow::before,
.leftArrow:after, .leftArrow:before {
    content: "";
    position: absolute;
    width: 60%;
    height: 10px;
}

// right

.rightArrow::after, .rightArrow::before {
    right: -8px;
}

.rightArrow::after {
    top: -12px;
    transform: rotate(45deg);
}

.rightArrow::before {
    top: 12px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
}

// left
.leftArrow:after, .leftArrow:before {
    left: -8px;
}

.leftArrow::after {
    top: -12px;
    transform: rotate(135deg);
}

.leftArrow::before {
    top: 12px;
    transform: rotate(-135deg);
}

// hover

#outsideArrowL:hover {
    animation: OutsideMoveLeft .7s ease-in-out infinite;   
}

#outsideArrowR:hover {
    animation: OutsideMoveRight .7s ease-in-out infinite;   
}
